@tailwind base;
@tailwind components;
@tailwind utilities;



/* Conteneur des dots */
.custom-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Dots inactifs = petits ronds */
.custom-dots li button:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  opacity: 0.5;
}

/* Dot actif = longue barre blanche */
.custom-dots li.slick-active button:before {
  content: "";
  display: block;
  width: 20px;     /* longueur de la barre */
  height: 5px;     /* épaisseur */
  border-radius: 35px;
  background: white;
  opacity: 1;
}




.cat-menu {
  @apply max-h-60 overflow-y-auto shadow-lg bg-white rounded-lg;
}

/* === LOADER GLOBAL === */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}

.loader::before,
.loader::after {    
  content: "";
  grid-area: 1 / 1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(.5turn);
  }
}

/* Overlay plein écran pour le chargement */
.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
