@tailwind base;
@tailwind components;
@tailwind utilities;



/* Conteneur des dots */
.custom-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Dots inactifs = petits ronds */
.custom-dots li button:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  opacity: 0.5;
}

/* Dot actif = longue barre blanche */
.custom-dots li.slick-active button:before {
  content: "";
  display: block;
  width: 20px;     /* longueur de la barre */
  height: 5px;     /* épaisseur */
  border-radius: 35px;
  background: white;
  opacity: 1;
}


